$tp-color-primary: #02b2cc;
$tp-default-border-color: #ddd;
$font-size-base: 19px;

$preview-header-bg: #efefef;
$preview-lightgray: #d3d3d3;

$tp-wrong-color: #a94442 !default;
$tp-wrong-bg: #f2dede !default;
$tp-wrong-border: #a94442 !default;

$tp-correct-color: #3c763d !default;
$tp-correct-bg: #dff0d8 !default;
$tp-correct-border: #3c763d !default;

$static-top-padding: 7px;
