<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <style type="text/css">
      @font-face {
        font-family: "CustomBold";
        src: url("<%= CUSTOM_FONT_BOLD_URL %>");
        font-weight: bold;
      }
      @font-face {
        font-family: "CustomNormal";
        src: url("<%= CUSTOM_FONT_NORMAL_URL %>");
        font-weight: normal;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>leaf</title>
  </head>
  <body>
    <div id="container" class="main-content fluid-container"></div>
  </body>
</html>
